{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}password change{% endblock %}
{% block content %}
<div class="row text-center vertical-middle-sm">
	<h1>Change Password</h1>
	
	{% if form.errors %}
    <div class="alert alert-danger" role="alert">
    <h4>
    Please correct the error below.
    </h4>
    </div>
    {% endif %}
    
	<p>Please enter you old password, for security's sake, and then enter you new password twice so we can verify you typed it in correctly.</p>
	
	{% if form.new_password1.help_text %}
	<div class="text-left" style="margin-left:360px">
	<p>{{ form.new_password1.help_text }}</p>
	</div>
	{% endif %}
	
	<form class="form-horizontal" action="." method="post">{% csrf_token %}
		<div class="form-group">
		{% if form.old_password.errors %}
		<div class=" alert alert-danger" role="alert">{{ form.old_password.errors }}</div>
		{% endif %}
			<label class="col-md-4 control-label">
			{{ form.old_password.label_tag }}
			</label>
			<div class="col-md-6 text-left">{{ form.old_password }}</div>
		</div>
		
		<div class="form-group">
		{% if form.new_password1.errors %}
		<div class=" alert alert-danger" role="alert">{{ form.new_password1.errors }}</div>
		{% endif %}
			<label class="col-md-4 control-label">
			{{ form.new_password1.label_tag }}
			</label>
			<div class="col-md-6 text-left">{{ form.new_password1 }}</div>
		</div>
		
		<div class="form-group">
		{% if form.new_password2.errors %}
		    <div class=" alert alert-danger" role="alert">
		        <!--
		        <ul class="list-group list-group-flush">
		        {% for i in form.new_password2.errors %}
		        <li class="list-group-item">{{ i }}</li>
		        {% endfor %}
		        </ul>
		        -->
		        {{ form.new_password2.errors }}
		    </div>
        {% endif %}
			<label class="col-md-4 control-label">
			{{ form.new_password2.label_tag }}
			</label>
			<div class="col-md-6 text-left">{{ form.new_password2 }}</div>
			
		</div>
		
		<input type="submit" class="btn btn-primary btn-sm" value="Change my password">
	</form>
</div>
{% endblock %}
